html {
    background-color: white;
}
body {
    margin: 0px;
}
header {
    height: 80px;
    width: 100vw;
    background-color: rgb(25, 190, 202);
    margin-bottom: 30px;
    display: inline-block;
    font-size: 70px;
    text-align: center;
    border-bottom: 1px solid grey;
}
#etch-border {
    height: 700px;
    width: 700px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5%;
    background: linear-gradient(0deg, rgb(25, 190, 202), #272727);
    box-shadow: 15px 5px 10px black;

}
#grid-canvas {
    display: grid;
    height: 500px;
    width: 500px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-container > button {
    margin: 5px 10px;
    width: 60px;
    height: 60px;
    font-size: medium;
    background-color: black;
    color: white;
}
.color-change-buttons > button {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.grid-square {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;

}
